<div id="content-index">

	<animal-content question="question" is-show-answer="false"></animal-content>
    <!-- 提醒用户 -->
    <div class="tip-user display-box">
        <div class="display-box-1 left">
            <p>每日0点更新学习内容</p>
        </div>
        <div class="display-box-1 right" ng-click="reStudyContent()">
            <p>重选内容范围</p>
        </div>
    </div>
    <!-- btn区域 -->
    <div class="footer one-btn" ng-click="toContentDetail()">
        <button class="btn">进入学习</button>
    </div>
</div>
